.gameContainer{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 5rem;
  cursor: default;
}

.game{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.casa{
  width:200px;
  height:200px;
  border: 2px solid white;
}

.markX,
.markO{
  font-size: 2rem;
  display: flex;
  align-items: center;
  color: white;
  font-family: 'Concert One', cursive;
  font-size: 8.5rem;
}

.markX{
  animation: animaMarkX .8s forwards ease-in;
}

.markO{
  animation: animaMarkO .8s forwards ease-in;
}

@keyframes animaMarkX {
  from{
    text-shadow:none;
  }
  to{
    text-shadow: 0px 0px 50px rgba(255, 72, 88, .8);
  }
}

@keyframes animaMarkO {
  from{
    text-shadow:none;
  }
  to{
    text-shadow: 0px 0px 50px rgba(0, 204, 192, .8);
  }
}