.gameContainer{
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 5rem;
}

.game{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.casa{
  width:200px;
  height:200px;
  border: 2px solid white;
}

/* .casa0,
.casa1,
.casa2{
  border-top: none;
  border-bottom: none;
}

.casa0,
.casa3,
.casa6,
.casa1,
.casa4,
.casa7{
  border-right: none;
}

.casa0,
.casa3,
.casa6{
  border-left: none;
}

.casa6,
.casa7,
.casa8{
  border-bottom: none;
  border-top: none;
}


.casa2,
.casa5,
.casa8{
  border-right: none;
} */