.container{
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.itemLeft,
.itemRight{
  background: white;
  height: 70%;
  font-size: 1.1rem;
  text-transform: capitalize;
  height: 40px;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  padding: 0 1.5rem;
  font-weight: bold;
  position: relative;
  border-radius: 10px;
}

.itemLeft span{
  font-family: 'Concert One', cursive;
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 5px;
  align-items: center;
  left: -30px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  color: #FF4858;
}

.itemRight span{
  font-family: 'Concert One', cursive;
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 5px;
  align-items: center;
  right: -30px;
  border-radius: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  color: #72F2EB;
}

.currentPlayer{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  font-family: 'Concert One', cursive;
  width: 120px;
  height: 55px;
  font-size: 1.8rem;
  border-radius: 0 0 5px 5px;
  background: white;
  text-align: center;
}

.currentPlayer span{
  font-size: .8rem;
  margin-top: -2rem;
}